<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container-fluid bg-light">
        <div class="container mt-4">
            <div class="row">
                <div class="col">
                    <h1 class="text-center bold">Your Lunch Information Within This Month</h1>
                            <table class="table table-striped" th:if="${!employee.menus.isEmpty()}">
                                <thead>
                                <tr>
                                    <th>Food Id</th>
                                    <th>Food Name</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="menu : ${employee.menus}">
                                    <td th:text="${menu.id}"></td>
                                    <td th:text="${menu.name}"></td>
                                    <td th:text="${menu.price}+' ks'"></td>
                                    <td th:text="${menu.orderedDate}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <a th:href="@{/home}" class="btn btn-outline-primary">Back to Home</a>
                            <div th:if="${employee.menus.isEmpty()}">
                                <h4 class="text-center text-muted">There Is No Ordered History</h4>
                            </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>